@import './base.css';
@import 'tailwindcss';

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 4px;
    /* height: 8px; */
    border: 2px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-neutral-900 border-1 border-neutral-500;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-neutral-400;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-500;
  }

  .scrollbar-custom::-webkit-scrollbar-corner {
    @apply bg-neutral-100;
  }
}

@font-face {
  font-family: 'Bombardier';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: local('BOMBARD_'), url('BOMBARD_.ttf');
}

@font-face {
  font-family: 'Aces07';
  font-style: normal;
  font-display: swap;
  src: local('ACES07_Regular'), url('ACES07_Regular.ttf');
}

@font-face {
  font-family: 'JetMono';
  font-style: normal;
  font-display: swap;
  src: local('JetBrainsMono-Regular'), url('JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: 'JetMonoBold';
  font-style: bold;
  font-display: swap;
  src: local('JetBrainsMono-Bold'), url('JetBrainsMono-Bold.ttf');
}

@theme {
  --font-neb: 'Bombardier', sans-serif;
  --font-aces: 'Aces07', sans-serif;
  --font-jetmono: 'JetMono', mono;
  --font-jetmonobold: 'JetMonoBold', mono;
  --yellow-pale: #e3dc98;
}

/* 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
